<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts药品库存展示</title>
    <script src="../../resources/js/echarts.min.js"></script>
    <script src="../../resources/js/boot.js" type="text/javascript"></script>
    <script src="../../resources/js/jquery.min.js" type="text/javascript"></script>
</head>
<body>
<div id="container" style="width: 95%;height: 440px; padding-top: 8px"></div>

</body>
</html>

<script type="text/javascript">

    //药品详情集合
    var pageData;
    //药品编码
    var codes = [];
    //药品名称
    var names = [];
    //药品通用名
    var commonName = [];
    //药品分类
    var categorys = [];
    //药品规格
    var specifications = [];
    //药品产地
    var places = [];
    //状态
    var statuses = [];
    //库存
    var counts = [];
    $(function () {
        $.ajax({
            url: "/drug/drugCount",
            type: "post",
            // data: json,
            // dataType:"json",
            contentType:'application/json; charset=utf-8',
            async:false,
            success: function (text) {
                if(text.status == '查询成功'){
                    pageData = text.data;
                    // alert(mini.encode(pageData));
                    for(var i=0; i<pageData.length; i++){
                        codes.push(pageData[i].code);
                        names.push(pageData[i].name);
                        commonName.push(pageData[i].commonName);
                        categorys.push(pageData[i].category);
                        specifications.push(pageData[i].specification);
                        places.push(pageData[i].place);
                        statuses.push(pageData[i].status);
                        counts.push(pageData[i].stock);
                        myChart.setOption(option, true);
                    }
                }else{
                    mini.alert("获取图表数据失败!","失败");
                }
            }
        });
    });

    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    var dataAxis = names;
    // var data = [220, 182, 191, 234, 290, 330, 310, 123, 442, 321, 90, 149, 210, 122, 133, 334, 198, 123, 125, 220];


    option = {
        tooltip : {
            trigger: 'axis',
            formatter: function (params) {
                // console.log(mini.encode(params));
                var res = '';
                // alert(res);
                res += '<p>药品编号:'+params[0].data+'</p>';
                res += '<p>药品名称:'+params[1].data+'</p>';
                res += '<p>药品通用名:'+params[2].data+'</p>';
                res += '<p>药品分类:'+params[3].data+'</p>';
                res += '<p>药品规格:'+params[4].data+'</p>';
                res += '<p>产地:'+params[5].data+'</p>';
                res += '<p>状态:'+params[6].data+'</p>';
                res += '<p>库存:'+params[7].data+'</p>';
                // alert(res);
                return res;
            },
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        title: {
            text: '药品库存展示',
            subtext: '提示：点击或滚动鼠标可以缩放'
        },
        xAxis: {
            data: names,
            axisLabel: {
                inside: false,
                textStyle: {
                    color: '#987'
                },
                rotate: 65,
            },
            axisTick: {
                show: false
            },
            axisLine: {
                show: false
            },
            z: 10
        },
        yAxis: {
            axisLine: {
                show: false
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                textStyle: {
                    color: '#999'
                }
            }
        },
        dataZoom: [
            {
                type: 'inside'
            }
        ],
        series: [
            { // For shadow
                type: 'bar',
                itemStyle: {
                    normal: {color: 'rgba(0,0,0,0.05)'}
                },
                barGap:'-100%',
                barCategoryGap:'40%',
                data: codes,
                animation: false
            },
            { // For shadow
                type: 'bar',
                itemStyle: {
                    opacity: 0
                },
                data: names,
                animation: false
            },
            { // For shadow
                type: 'bar',
                itemStyle: {
                    opacity: 0
                },
                data: commonName,
                animation: false
            },
            { // For shadow
                type: 'bar',
                itemStyle: {
                    opacity: 0
                },
                data: categorys,
                animation: false
            },
            { // For shadow
                type: 'bar',
                itemStyle: {
                    opacity: 0
                },
                data: specifications,
                animation: false
            },
            { // For shadow
                type: 'bar',
                itemStyle: {
                    opacity: 0
                },
                data: places,
                animation: false
            },
            { // For shadow
                type: 'bar',
                itemStyle: {
                    opacity: 0
                },
                data: statuses,
                animation: false
            },
            {
                type: 'bar',
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 0, color: '#83bff6'},
                                {offset: 0.5, color: '#188df0'},
                                {offset: 1, color: '#188df0'}
                            ]
                        )
                    },
                    emphasis: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 0, color: '#2378f7'},
                                {offset: 0.7, color: '#2378f7'},
                                {offset: 1, color: '#83bff6'}
                            ]
                        )
                    }
                },
                data: counts
            }
        ]
    };

    // Enable data zoom when user click bar.
    var zoomSize = 6;
    myChart.on('click', function (params) {
        console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
        myChart.dispatchAction({
            type: 'dataZoom',
            startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
            endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
        });
    });
    if (option && typeof option === "object") {
        // myChart.setOption(option, true);
    }



</script>