<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> 账号维护 </title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <!--<link href="../demo.css" rel="stylesheet" type="text/css" />-->

    <script src="resources/js/boot.js" type="text/javascript"></script>
    <script src="resources/js/miniui/locale/en_US.js" type="text/javascript"></script>
    <script src="resources/js/ColumnsMenu.js" type="text/javascript"></script>

</head>
<body>

<div id="datagrid1" class="mini-datagrid" style="width:100%;height:346px;" allowResize="true"
     url="drug/queryDrugLog"  idField="" multiSelect="true">
    <div property="columns">
        <div field="loginName" width="120" headerAlign="center">操作用户登录名</div>
        <div field="describe" width="120" headerAlign="center" >操作行为</div>
        <!--<div field="result" width="120" headerAlign="center" >操作结果</div>-->
        <div field="updateDate" width="120" headerAlign="center" allowSort="true" renderer="ondayRenderer">操作时间</div>
    </div>
</div>

<script type="text/javascript">
    mini.parse();

    var grid = mini.get("datagrid1");

    var menu = new ColumnsMenu(grid);

    function ondayRenderer(e) {

        var value = new Date(e.value);
        if (value){
            return mini.formatDate(value, "yyyy-MM-dd HH:mm:ss");
        }

    }

    function SetData(data) {

        //跨页面传递的数据对象，克隆后才可以安全使用
        data = mini.clone(data);
        //根据药品id查询操作记录
        grid.load({ "id": data.id });
    }

    function add() {

        mini.open({
            targetWindow: window,

            url: "addAccount",
            title: "添加账号", width: 500, height: 200,
            onload: function () {
                var iframe = this.getIFrameEl();
                var data = { action: "new" };
                iframe.contentWindow.SetData(data);
            },
            ondestroy: function (action) {

                grid.reload();
            }
        });
    }


    function remove() {

        var rows = grid.getSelecteds();
        if (rows.length > 0) {
            if (confirm("确定停用选中账号？")) {
                var ids = [];
                for (var i = 0, l = rows.length; i < l; i++) {
                    var r = rows[i];
                    ids.push(r.USERID);
                }
                var id = ids.join(',');
                grid.loading("操作中，请稍后......");
                $.ajax({
                    url: "/user/disabledAccount",
                    type: "post",
                    data: id,
                    contentType:'application/json; charset=utf-8',
                    async:false,
                    success: function (text) {
                        grid.reload();
                    },
                    error: function () {
                    }
                });
            }
        } else {
            alert("请选中一条记录");
        }
    }
    function search() {
        var userName = mini.get("key").getValue();
        grid.load({ userName: userName });
    }
    function onKeyEnter(e) {
        search();
    }
    /////////////////////////////////////////////////
    function onBirthdayRenderer(e) {
        var value = e.value;
        if (value) return mini.formatDate(value, 'yyyy-MM-dd');
        return "";
    }
    function onMarriedRenderer(e) {
        if (e.value == 1) return "是";
        else return "否";
    }
    var Genders = [{ id: 1, text: '男' }, { id: 2, text: '女'}];
    function onGenderRenderer(e) {
        for (var i = 0, l = Genders.length; i < l; i++) {
            var g = Genders[i];
            if (g.id == e.value) return g.text;
        }
        return "";
    }

    function reset(){
        mini.get("key").setValue("");
    }

</script>


</body>
</html>